<component name="ArtifactManager">
  <artifact type="war" name="SpringConfig:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring4MVCHelloWorldNoXMLDemo.war">
      <element id="artifact" artifact-name="SpringConfig:war exploded" />
    </root>
  </artifact>
</component>