<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="test.HelloServiceImpl">
        <!--value 表示普通属性-->
        <!--ref 表示对象-->
        <property name="info" value="小样"/>
    </bean>




</beans>